.homeInterior_main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px 5px 60px;
    height: 100%;

}

.homeInterior_left {
    width: 50%;
}

.homeInterior_title {
    font-size: 48px;
    text-align: left;
    font-family: "Brandon_reg";
    line-height: 50px;

}

.homeInterior_desc {
    font-size: 24px;
    text-align: left;
    font-family: "Brandon_reg";

}

.homeInterior_btn {
    content: "Download";
    height: 48px;
    border: 2px solid;
    border-image: linear-gradient(to right, white, black) 1;
    background: none;
    font-size: 24px;
    font-weight: 420;
    text-align: center;
    color: #000;
    font-family: "Brandon_med";
    padding: 3px 40px 3px 40px;
    position: relative;
    transition: ease-in 0.3s;
    margin: 4% 0;

}

.homeInterior_btn:hover {
    content: "Book Free Consultation";
    background-color: #CDAF4C;
    border-image: linear-gradient(to right, white, black) 1;
    cursor: pointer;
    padding: 3px 45px 3px 45px;
}

.homeInterior_btn p {
    padding-left: 10px;
    font-family: "Brandon_med";
    font-size: 16px;
}

.homeInterior_right {
    width: 50%;
}

.homeInterior_right img {
    width: 90%;
    height: 90%;
    padding: 4px;
    background: linear-gradient(to right, #CDAF4C 4px, transparent 4px) 0 0,
        /* linear-gradient(to right, #CDAF4C 4px, transparent 4px) 0 100%, */
        /* linear-gradient(to left, #CDAF4C 4px, transparent 4px) 100% 0, */
        linear-gradient(to left, #CDAF4C 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #CDAF4C 4px, transparent 4px) 0 0,
        /* linear-gradient(to bottom, #CDAF4C 4px, transparent 4px) 100% 0, */
        /* linear-gradient(to top, #CDAF4C 4px, transparent 4px) 0 100%, */
        linear-gradient(to top, #CDAF4C 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 8% 12%;
}

@media screen and (max-width:750px) {
    .homeInterior_main {
        flex-direction: column;
        padding: 3%;
    }

    .homeInterior_left {
        width: 100%;
    }

    .homeInterior_right {
        width: 100%;
    }
.homeInterior_right img{
    width: 100%;
}
    .homeInterior_title {
        font-size: 32px;
    }


}