.parent_company_main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222831;
    padding: 4% 0;
    padding-top: 0;

}
p{
    margin: 0;
}
.parent_company_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent_company_left img {
    height: 90%;
    width: 90%;
    padding: 4px;
    background: linear-gradient(to right, #CDAF4C 4px, transparent 4px) 0 0, /* linear-gradient(to right, #CDAF4C 4px, transparent 4px) 0 100%, */ /* linear-gradient(to left, #CDAF4C 4px, transparent 4px) 100% 0, */ linear-gradient(to left, #CDAF4C 4px, transparent 4px) 100% 100%, linear-gradient(to bottom, #CDAF4C 4px, transparent 4px) 0 0, /* linear-gradient(to bottom, #CDAF4C 4px, transparent 4px) 100% 0, */ /* linear-gradient(to top, #CDAF4C 4px, transparent 4px) 0 100%, */ linear-gradient(to top, #CDAF4C 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 8% 12%;
}

.parent_company_right {
    flex: 50%;
    text-align: left;
    margin-bottom: 40px;

}

.parent_company_heading {
    font-size: 24px;
    color: white;
    font-family: "Brandon_med";
    font-weight: 400;
}

.parent_company_title {
    font-family: "Brandon_reg";
    font-size: 48px;
    font-weight: 600;
    color: #CDAF4C;
    line-height: 50px;

}

.parent_company_desc {
    font-size: 23px;
    color: white;
    font-family: "Brandon_reg";
    padding-top: 10px;
}

.parent_company_know_more {
    font-size: 31px;
    color: white;
    font-family: "Brandon_med";
    /* margin-top: -1%; */
    margin: 4% 0;
}

.parent_company_logo_btn {
    background: none;
    border-image: linear-gradient(to right, #CDAF4C, white) 1;

}

.parent_company_logo_btn img {
    height: 40px;
    width: 200px;
    margin: 2px;
}

@media screen and (max-width:900px) {
    .parent_company_main {
        flex-direction: column-reverse;
        padding: 3%;
    }

    .parent_company_left img {
        /* height: 60vh; */
        width: 100%
    }

    .parent_company_title {
        font-size: 40px;
    }

}

@media screen and (max-width:750px) {
   
    .parent_company_left{
        width: 100%;
    }

}