.service_card_main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.service_card {
    margin: 20px;
    padding-bottom: 10px;
    position: relative;
}

.service_card_img {
    height: 250px;
    width: 300px;
}
.service_card_name_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    bottom:5%;
    background: rgba(34, 40, 49, 0.7);
    width: 300px;
}
.service_card_name {
    font-family: "Brandon_med";
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 0%;
}
.service_card_name_main img{
    height: 40px;
}
.service_card_hover {
    display: none;
    transition: transform 0.50s;
}
.service_card_hover:hover{
    display: block;
}
.service_card:hover + .service_card_hover {
    display: block;
}
.service_card_hover {
    margin-top: -270px;
    margin-left: 30px;
    z-index: 111111;
    position: relative;
}
.card_hover_name {
    font-size: 30px;
    font-family: "Brandon_reg";
    font-weight: 500;
    color: white;
    
}
.changing_name{
    margin-top: -5%;
}
.card_hover_desc {
    font-family: "Brandon_reg";
    font-size: 16px;
    color: white;
    margin-top: -40px;
}
.card_hover_btn {
    font-family: "Brandon_reg";
    font-weight: 400;
    border: 2px solid;
    border-image: linear-gradient(to right, white, black) 1;
    background: none;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 3px;
}
.card_hover_btn:hover{
    background-color: #CDAF4C;
    border-image: linear-gradient(to right, white, black) 1;
    transition: ease-in 0.3s;
    padding-left: 10px;
}
@media screen and (max-width:800px) {
    .service_card_hover{
        margin-bottom: 30%;
    }   

}